<p>debug() info about:
  <img src="<%= @result['profile_image_url'] %>">
  @<a href="http://www.twitter.com/<%= @result['screen_name'] %>"><%= @result['screen_name'] %></a>
  <%= @result['name'] %>)</p>
<p><%= debug @result %></p>
